.square {
    color: dodgerblue;
    background-color: black;
    /* height: 80px; (Set in the javascript) */
    border-color: green;
    border-width: 10px;
    /* flex: 1 0; (Set in the javascript) */
    /* flex-basis: 10%; (Set in the javascript) */
}

#topButton {
    margin: 10px;
}

/* Flexbox */
#grid {
    display: flex;
    width: 800px;
    flex-wrap: wrap;
    gap: 0px;
    justify-content: center;
    border: 10px solid green;
    /* background color is used to solve the remaining white-space problem I have on the left and
       right of the square divs. There is probably a better way to handle it. */
    background-color: green;
}

/* CSS grid, not being used as Flexbox is being used above instead, since that worked out easier for me. */
/* #grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    width: auto;
    justify-items: center;
} */